In [1]:
#Task 2: Hello World!
print('Hello World!')

Hello World!

In [10]:
#Task 3: Python Variables
## 3.1 Variables Names

Pi = 3.13159 
# √ Valid Python

pi = 3.14159 
# √ Valid, but Pi != pi

3pi = 3.14159*3
# X The first character cannot be a number

pi_2 = 3.14159**2
# √ Valid Python

pi^2 = 3.14159**2
# X ^ is used for calculation, instead of Assignment(赋值)

my radius = 5
# X no space

My_Radius = 5
# √ Valid Python

class = 5
# √ Valid, but more like the specialised definition of 类

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1016276586.py, line 13)

In [20]:
Pi = 3.13159
pi = 3.14159 
pi = 3.14159*3
pi_2 = 3.14159**2
pi2 = 3.14159**2
my_radius = 5
My_Radius = 5
theclass = 5

In [ ]:
## 3.2 Variable Types
x = '2'
y = z = 2

print(y * z)
#4

print(x * y)
#22

print(x + x)
#22

print((y+z)**z)
#16

print(y/(y+z))
#0.5

print( type(x*y) )
#string

print( type(y*z) )
#int

print( type((y+z)**z) )
#int

print( type(y/(y+z) )
#float

In [23]:
## 3.3 Assignment
x = 12
y = 10

z = x + y
#22

x = x + y
#32

y = z + y
#32

print(x)
print(y)
print(z)

22
32
22

In [24]:
## 3.4 Operators & Precedence
x = 1 + (2 * 3) / 4
y = (1 + 2) * (3 / 4)
z = 1 + 2 * (3 / 4)

print(x)
#x is 2.5

print(y)
#y is 2.25

print(z)
#z is 2.5

2.5
2.25
2.5

In [28]:
## 3.5 Test Your Operator Knowledge
x = 10
y = 3

print( x % y )
#1

print( x + y )
#13

print( x == y )
#False

print( x**y )
#1000

print( x - y )
#7

print( x // y )
#3

1
13
False
1000
7
3

In [42]:
## 3.6 Applying What We've Learned
### 3.6.1. Calculate the Volume of a Sphere
import math

d = 12
v = (4/3)*math.pi*(d/2)**3

print(v)
print(f"{v}cm^3")
print(f"{v:0.3f}cm^3")
print(f"{int(v)}cm^3")

904.7786842338603
904.7786842338603cm^3
904.779cm^3
904cm^3

In [46]:
### 3.6.2 Calculate the Radius of a Sphere
import math

v = 14137
r = ((3/4)*(v/math.pi))**(1/3)

print(int(r))
print(round(r))
print(f"{int(r)}cm")

14
15
14cm

In [49]:
# Task 4: Python Conditions
## 4.1 Working with Conditions
hours = 2

if hours == 2:
    print("Exactly 2 hours worked")
elif hours >= 10:
    print("At least 10 hours worked!")
else:
    print("Less than 10 hours worked!")

Exactly 2 hours worked

In [52]:
## 4.2 Flow Control
a = 1
b = 1

x = a

if x == b:
    print("inside 1")
    print("inside 2")
    print("inside")

    print("after condition")

inside 1
inside 2
inside
after condition

In [58]:
# Task 5: Python Logic
## 5.1  It's All Quite Logical

# What names are name(s) are printed when x = 5 ?
x=5

if x > 0 and x < 5:
    print("Joe")
if x > 0 or x < 5:
    print("Aled")
if not(x > 0):
    print("Sarah")

Aled

In [61]:
# What value(s) can x be when the names Joe and Aled are printed?
x=2

if x > 0 and x < 5:
    print("Joe")
if x > 0 or x < 5:
    print("Aled")
if not(x > 0):
    print("Sarah")

Joe
Aled

In [62]:
# What name(s) are printed when x = -1 ?
x=-1

if x > 0 and x < 5:
    print("Joe")
if x > 0 or x < 5:
    print("Aled")
if not(x > 0):
    print("Sarah")

Aled
Sarah

In [63]:
# Is there any value for which all three names will be printed?
x=?

if x > 0 and x < 5:
    print("Joe")
if x > 0 or x < 5:
    print("Aled")
if not(x > 0):
    print("Sarah")

SyntaxError: invalid syntax (1276617672.py, line 2)

In [64]:
## 5.2  Logic (Cont'd)
for x in range(0,9):
    if x%2==0:
        print("x is even")
    else:
        print("x is odd")
    print(x)

x is even
0
x is odd
1
x is even
2
x is odd
3
x is even
4
x is odd
5
x is even
6
x is odd
7
x is even
8

In [66]:
## 5.3 'Nested' Conditionals
x=5
y=4

if x != y:
    print("x is not equal to y")
    
    if(x > y):
        print("x is greater than y")

    else:
        print("x is less than y")
 
else:
    print("x is equal to y")

x is not equal to y
x is greater than y

In [67]:
x=2
y=3

if x != y:
    print("x is not equal to y")
    
    if(x > y):
        print("x is greater than y")

    else:
        print("x is less than y")
 
else:
    print("x is equal to y")

x is not equal to y
x is less than y

In [73]:
# Task 6: Python Lists
## 6.1 Who's in the List?
cities = ['New York', 'London', 'Beijing', 'Tokyo', 'Delhi']
# Print out London from cities:
print(cities[1])
# Print out Tokyo using *negative* indexing:
print(cities[-2])
# Print out Beijing *and* Tokyo using a list slice
print(cities[2:-1])
# Print out London to Delhi using a slice
print(cities[1:])
# Combine positive and negative indexing to print out London, Beijing and Tokyo using a list slice
print(cities[1:-1])
# Print out the position of New York in the list by searching for it (i.e. you can't just type 0)
print(cities.index("New York"))

London
Tokyo
['Beijing', 'Tokyo']
['London', 'Beijing', 'Tokyo', 'Delhi']
['London', 'Beijing', 'Tokyo']
0

In [75]:
## 6.2 Manipulating Lists
### 6.2.1 Create an IndexError
# Cause an 'IndexError: list index out of range' errr
cities[6]

IndexError: list index out of range

In [77]:
### 6.2.2 Create a ValueError
# Cause a ValueError using the city of Toronto
cities.index(Toronto)

NameError: name 'Toronto' is not defined

In [78]:
### 6.2.3 Sort the List
# The approach does _not_ sort the original list,
# it returns a copy of the list that is sorted:
print(sorted(cities, reverse=True)) # <- what is printed is sorted
print(cities) # <- but the list is not

['Tokyo', 'New York', 'London', 'Delhi', 'Beijing']
['New York', 'London', 'Beijing', 'Tokyo', 'Delhi']

In [81]:
# This is the 'in place' option
cities.sort(reverse=True) # <- list is now sorted
print(cities)
cities.sort(reverse=False) # <- list is now sorted
print(cities)

['Tokyo', 'New York', 'London', 'Delhi', 'Beijing']
['Beijing', 'Delhi', 'London', 'New York', 'Tokyo']

In [82]:
## 6.3 Adding/Removing Values
### 6.3.1 Inserting into a List
cities = ['Tokyo', 'New York', 'London', 'Delhi', 'Beijing']

cities.insert(2,'Toronto')
print(cities)

['Tokyo', 'New York', 'Toronto', 'London', 'Delhi', 'Beijing']

In [83]:
### 6.3.2 Removing from a List
p=cities.pop(cities.index('New York'))
print(p)
print(cities)

New York
['Tokyo', 'Toronto', 'London', 'Delhi', 'Beijing']

In [86]:
### 6.3.3 Checking Lists
if 'Moscow' in cities:
    print('Moscow is in the cities list!')
else:
    print('Moscow is not in the cities list!')

Moscow is not in the cities list!